.primary {
    background-color: blueviolet;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.secondary {
    background-color: green;
    color: greenyellow;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.outline {
    background-color: coral;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.disabled {
    background-color: grey;
    color: darkgrey;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
