.card-container {
    background-color: aliceblue;
    color: red;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    text-align: center;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.card-description {
    font-size: 16px;
    color: palevioletred;
}

.card-avatar-placeholder {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    background-color: gray;
}

.card-subtitle {
    color: lightcoral;
    margin-top: -16px;
}
