.primary {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.secondary {
    background-color: lightgrey;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.outline {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.disabled {
    background-color: grey;
    color: darkgrey;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
